asgiref
daphne
uvicorn
Django==5.0.9
django-cors-headers
django-import-export
django-soft-delete
django-storages
djangorestframework
Pillow
pytz
sqlparse
gunicorn
cryptography
dj-database-url
whitenoise
django-simple-history
pandas
sqlalchemy
django-celery-beat
django-redis
django_redis
hiredis
channels==3.0.0
djangochannelsrestframework
django-async-orm
gevent
django-extensions
Werkzeug
boto3
channels-redis
phonenumbers
qrcode
fcm-django
firebase-admin
psycopg2
django-model-utils
django-rest-swagger
drf-yasg
drf-yasg-examples
nested-multipart-parser
django-better-admin-arrayfield
django-clone
django-mptt
django-twilio
django-admin-sortable2
django-solo
django-filter